<div class="container__big-card">

  <div class="big-card__photo">
    <img src="https://inmagazine.ig.com.br/public/assets/img/postagens/post_39918.jpeg?1"
     alt=""
     height="300px"
     srcset=""
     >
  </div>
  <a href="">

  </a>
  <div class="big-card__title">
   <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
<p>
  <a href="#">
  A nova versão do Angular, conhecida como Angular 12 (a partir de setembro de 2021),
  trouxe várias melhorias e aprimoramentos para o popular framework de desenvolvimento web.
   Algumas das principais características e melhorias incluem:
  </a>
</p>
  </div>


</div>
